<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>headers
    </title>
</head>
<body>
    <section style="border: 1px solid;background-color: lightgray;">
        <ul style="list-style-type: none;display: flex;justify-content: space-evenly;width: 50%;margin-left: auto;margin-right: auto;">
            <li>Home </li>
            <li>About </li>
            <li>Contact </li>
            <li>Projects </li>
            <li>Login </li>
        </ul>
    </section>

    <section style="margin-top: 50px;background-color: lightgray; ;padding:20px 100px;">
       <div style="display: flex;align-items: center;justify-content: space-between;border-bottom: 1px solid;margin: auto;">
            <h2>SampleLogo</h2>
            <ul style="list-style-type: none;display: flex;justify-content: space-evenly;width: 50%;">
                <li>Home </li>
                <li>About </li>
                <li>Contact </li>
                <li>Projects </li>
                <li>Login </li>
            </ul>
       </div>
    </section>
</body>
</html>